#!/usr/bin/make -f
export DH_VERBOSE = 1
export SOURCE_DATE_EPOCH := $(shell dpkg-parsechangelog -STimestamp 2>/dev/null)

PACKAGES := $(shell dh_listpackages)

VERSION_DIR := $(CURDIR)/debian/tmp/version
CONFIGURE_VERSIONED := $(CURDIR)/src/cmake/ConfigureVersionedFile.cmake
GENERATE_VERSION := $(CURDIR)/src/cmake/GenerateVersion.cmake
STAGE_APPIMAGES := $(CURDIR)/debian/stage-appimages.sh

%:
	dh $@

.PHONY: override_dh_strip 
override_dh_strip: 
	dh_strip --exclude=AppImage --exclude=zimaos-usb-creator

